<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataGridView_数据网格视图.Properties.Settings._19jy2_y1906040212_tcConnectionString"
            connectionString="Data Source=.;Initial Catalog=19jy2_y1906040212_tc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>